# CityBikes

Send a request to CityBikes for the city of your choice.

In [ ]:
import requests 
import pandas as pd

#chose the city of Portland, with id = biketown
response = requests.get('http://api.citybik.es/v2/networks/biketown')
response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [ ]:
response = requests.get('http://api.citybik.es/v2/networks/biketown?fields=stations')
response
station_data = response.json()
#station_data['network']['stations'][0]['latitude']
latitude_list = []
longitude_list = []
bikes_list = []
#adding another column called bike_station_location with lat_long_list as values inorder 
#to have a matching column with other 2 data files for joining
lat_long_list = []
for i in station_data['network']['stations']:
    latitude_list.append(i['latitude'])
    longitude_list.append(i['longitude'])
    bikes_list.append(i['extra']['slots'])
    lat_long_list.append(str(i['latitude']) + ',' + str(i['longitude']))
    
df_dict = {'bike_station_location':lat_long_list, 'latitude':latitude_list, 'longitude':longitude_list, 'num_of_bikes':bikes_list}
df_dict

In [ ]:
station_data

Put your parsed results into a DataFrame.

In [22]:
df = pd.DataFrame(df_dict)
df

        bike_station_location   latitude   longitude  num_of_bikes
0    45.51195046,-122.6141596  45.511950 -122.614160             3
1    45.54827571,-122.6111636  45.548276 -122.611164             6
2      45.553917,-122.6020709  45.553917 -122.602071             6
3    45.51658489,-122.6160378  45.516585 -122.616038             3
4    45.49333654,-122.6233971  45.493337 -122.623397             3
..                        ...        ...         ...           ...
231  45.51788377,-122.6920402  45.517884 -122.692040            14
232   45.4902649,-122.5979411  45.490265 -122.597941             9
233   45.5965621,-122.7478995  45.596562 -122.747900             9
234   45.5178988,-122.6600522  45.517899 -122.660052            10
235    45.5002094,-122.670727  45.500209 -122.670727            10

[236 rows x 4 columns]

In [23]:
#exporting to csv file for future use
df.to_csv('city_bikes_portland.csv', index=False)